.ui.grid.sixteen.wide.column.alarm-list-item {
  border: 1px solid black;
  height: 5em;
  padding: 0;
}

.ui.grid.sixteen.wide.column.alarm-list-item:first-child {
  border-bottom: none;
}

.ui.grid.sixteen.wide.column.alarm-list-item:last-child {
  border-top: none;
}

.image {
  display: inline-block;
  height: 3em;
  width: 100%;
  border: 1px solid black;
}